{% extends 'base.html.twig' %}
{% block title %} {{parent()}} Modifier l'utilisateur {% endblock %}
{% block body %}
{{ form_start(form) }}
    {# Affichez vos autres champs normalement #}
    {{ form_row(form.email) }}
    {{ form_row(form.nom) }}
    {# ... #}

    {# Pour les rôles #}
    <div class="form-group">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}
        {{ form_errors(form.roles) }}
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>
{{ form_end(form) }}

{# Si vous voulez afficher les rôles ailleurs dans le template #}
{% if user.roles is defined %}
    <p>Rôles actuels: {{ user.roles|join(', ') }}</p>
{% endif %}
{% endblock %}